__pycache__/
*.pyc
core/__pycache__/config.cpython-312.pyc
core/__pycache__/entities.cpython-312.pyc
core/__pycache__/grid.cpython-312.pyc
core/__pycache__/heroes.cpython-312.pyc
core/__pycache__/quetes.cpython-312.pyc
core/__pycache__/save_data.cpython-312.pyc
core/__pycache__/walls.cpython-312.pyc
modes/__pycache__/game.cpython-312.pyc
modes/__pycache__/histoire.cpython-312.pyc
modes/__pycache__/main_ui.cpython-312.pyc

